:root{
    --body-bg: rgb(237, 237, 237);
    --header-background: #dbdbdb;
    --primary: #1dc0ab;
    --primary-bark: #169282;
    --text-color: #fff;
    --text-dark: #000;
    --text-gray: #fefefe;
    --text-heding-gray: #9e9e9e;
    --text-primary: #fafbfc;
    --input-border: #161616;
    --border: #2a2a2a;
}

html{
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    /* background: var(--body-bg); */
    /* height: 2000px; */
}

/* 전체를 감싸는 컨테이너 이거 스크롤 이벤트 하려면 꼭꼭 있어야 함요~! */
#container{
    position: relative;
}

/* 해더 전체 */
.header-container{
    width: 100%;
    position: fixed;
    z-index: 5;
    
    transition: all 0.5s ease;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 160px);
    margin: 0 auto;
    /* max-width: 1600px; */
    min-width: 300px;
    /* background-color: #f1f1f1; */
}

header a{
    color: #000;
    text-decoration: none;
}

nav a{
    color: #000;
    text-decoration: none;
}

/* 해더 1번째 색션 */
/* 햄버거 */
.hamburgerbar{
    position: relative;
    z-index: 3;
    width: 30%;
    height: 4.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.hamburgerbar > ul{
    list-style: none;
    width: 30px;
    height: auto;
    cursor: pointer;
}
.hamburger:nth-child(1),
.hamburger:nth-child(3){
    height: 2px;
    width: 30px;
    /* border-radius: 20% / 90%; */
    background-color: #000000;
    transition: 0.5s;
    position: relative;
}
.hamburger:nth-child(2){
    margin-top: 8px;
    height: 2px;
    width: 22px;
    /* border-radius: 20% / 90%; */
    background-color: #000000;
    transition: 0.5s;
    position: relative;
}

.hamburger:nth-child(3){
    margin-top: 8px;
}

.hamburgerbar > ul:hover li:nth-child(1){
    transform: translateY(10px) rotate(45deg);
}
.hamburgerbar > ul:hover li:nth-child(3){
    transform: translateY(-10px) rotate(-45deg);
}
.hamburgerbar > ul:hover li:nth-child(2){
    transform: translateX(-20px) rotate(-360deg);
    opacity: 0;
}
/* 햄버거 */


/* 해더 2번째 색션 */
/* 로고 */
.header-logo{
    width: 4.5rem;
    height: 4.5rem;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    /* background-color: #dbdbdb; */
    display: inline-block;
    background-image: url(../../images/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}


/* 해더 3번째 색션 */
#container > div.header-container > header > div:nth-child(3){
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-icon-wrapper > ul{
    list-style: none;
    display: flex;
    font-size: 1rem;
    gap: 2rem;
}
.header-icon-wrapper > ul li a{
    text-decoration: none;
    color: var(--text-dark);
    position: relative;
    bottom: 0px;
    transition: all 0.1s;
}

.header-icon-wrapper > ul li a:hover{
    bottom: 3px;
}


.nav-container{
    height: 100%;
    position: fixed;
    left: -470px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 3;
    /* cubic-bezier(0.645, 0.045, 0.355, 1) */
    /* cubic-bezier(0.39, 0.575, 0.565, 1) */
    /* cubic-bezier(0.455, 0.03, 0.515, 0.955) */
}

.nav_inner{
    width: 385px;
    height: calc(100% - 20px);
    
}

.nav_inner{
    position: absolute;
    left: 0;
    top: 0;
    padding: 100px 0 0 110px;
    overflow-y: hidden;
}

.nav_list{
    list-style: none;
    text-align: left;
   
}

.menu{
    margin-bottom: 30px;
}

.menu > a{
    direction: ltr;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: -0.035em;
    line-height: 1.2;
    cursor: pointer;
}

.menu > a::after{
    content: "";
    display: block;
    margin-bottom: 10px;
}

.depth > ul{
    list-style: none;
}

.depth a{
    display: inline-block;
    padding: 6px 0;
    font-size: 1.125rem;
    letter-spacing: -0.04em;
    cursor: pointer;
}
.depth a:hover{
    font-style: italic;
    color: tomato;
}

nav:after {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: block;
    width: 460px;
    height: 100%;
    transform: skew(-4deg);
    transform-origin: top;
    background: #fff;
    box-shadow: 1px 0 18px rgba(0, 0, 0, 0.16);
}