:root{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    /* cursor: none; */
    --size2  : clamp(2px, 0.1042vw, 200px);
    --size8  : clamp(6px, 0.4167vw, 200px);
    --size12 : clamp(10px, 0.6250vw, 200px);
    --size14 : clamp(12px, 0.7292vw, 200px);
    --size15 : clamp(14px, 0.7813vw, 200px);
    --size16 : clamp(16px, 0.8333vw, 200px);
    --size18 : clamp(17px, 0.9375vw, 200px);
    --size20 : clamp(18px, 1.0417vw, 200px);
    --size22 : clamp(22px, 1.1458vw, 200px);
    --size24 : clamp(24px, 1.2500vw, 200px);
    --size30 : clamp(28px, 1.5625vw, 200px);
    --size32 : clamp(30px, 1.6667vw, 200px);
    --size40 : clamp(40px, 2.0833vw, 200px);
    --size52 : clamp(48px, 2.7083vw, 200px);
    --size60 : clamp(50px, 3.1250vw, 200px);
    --size65 : clamp(60px, 3.3854vw, 200px);

    --size70  : clamp(50px, 3.6458vw, 2000px);

    --size80  : clamp(50px, 4.1667vw, 2000px);

    --size98  : clamp(60px, 5.1042vw, 2000px);
    --size100 : clamp(60px, 5.2083vw, 2000px);
    --size120 : clamp(80px, 6.2500vw, 2000px);
    --size180 : clamp(100px, 9.3750vw, 2000px);
    --size200 : clamp(100px, 10.4167vw, 1000px);
    --size220 : clamp(100px, 11.4583vw, 1000px);
    --size240 : clamp(100px, 12.5000vw, 2000px);
    --size300 : clamp(280px, 15.6250vw, 2000px);
    --size400 : clamp(320px, 20.8333vw, 2000px);
    --size670 : clamp(650px, 34.8958vw, 2000px);
    --size700 : clamp(680px, 36.4583vw, 3000px);
    --size930 : clamp(900px, 48.4375vw, 10000px);
}

.section1{
    width: 100%;
    height: auto;
    border: 0px solid red;
    box-sizing: border-box;
    padding: 4.5rem;
    margin-bottom: var(--size400);
}

.board_container{
    width: calc(100% -160px);
    height: 100%;
    margin: auto;
    border: 0px solid blue;
}

.title{
    margin-top: var(--size100);
    font-size: var(--size32);
    text-align: center;
}

.selectMenu{
    margin-top: var(--size52);
    text-align: center;
}

.selectMenu{
    font-size: var(--size16);
}

.selectMenu span{
    display: inline-block;
    width: var(--size200);
}

.selectMenu span:nth-child(2) > a{
    text-decoration: none;
    color: #000;
}

.selectMenu span:nth-child(1) > a{
    text-decoration: none;
    color: #797979;
}

.selectMenu span:nth-child(1) > a:hover{
    text-decoration: none;
    color: #000;
}

.selectMenu span:nth-child(1){
    position: relative;
}

.selectMenu span:nth-child(1)::before{
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    width: 1px;
    height: 100%;
    background-color: #797979;
}

.board_top{
    margin-bottom: var(--size60);
}

.inquiry_btn{
    text-align: center;
    font-size: var(--size20);
    width: var(--size100);
    height: var(--size40);
    line-height: var(--size40);
    background-color: #000;
    color: #fff;
    border-radius: var(--size8);
    cursor: pointer;
    transition: all 0.5s;
}

.inquiry_btn:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    box-sizing: border-box;
}

.board_bottom{
    border-top: var(--size2) solid #000;
}

span{
    display: inline-block;
}

.imgbox{
    width: var(--size40);
    height: var(--size40);
}

table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
    font-size: var(--size20);
}

thead{
    width: 100%;
    height: var(--size80);
}

tr{
    border-bottom: 1px solid #797979;
}

tr > td{
    vertical-align: middle;
    height: var(--size80);
}

tr > td:first-child{    
    width: 60%;
    box-sizing: border-box;
    padding: 0px var(--size24) 0px var(--size24);
}

tr > td:last-child{    
    width: 10%;
    box-sizing: border-box;
    padding: 0px 24px 0px 24px;
}

.infoBox{
	display: none;
	position: relative;
}

.infoback{
	position:fixed;
	top:0px;
	left:0px;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0.2;
	z-index: 20;
}

.infocon{
	display: inline-block;
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: auto;
	background-color: #fff;
	border-radius: var(--size14);
	z-index: 30;
	box-sizing: border-box;
	padding: var(--size20);
	overflow: scroll;
}

.infocon table tr td:first-child{
	width: 30%;
	height: var(--size60);
	font-size: var(--size16);
}

.infocon table tr td:last-child{
	width: 60%;
	height: var(--size60);
	font-size: var(--size16);
}

div.infocon > table:nth-child(2) {
	box-sizing:border-box;
	margin-bottom: var(--size40);
}

.closeB{
	font-size: var(--size16);
	width: var(--size80);
	height: var(--size40);
	border-radius: var(--size8);
	background-color: #000;
	color: #fff;
	text-align: center;
	line-height: var(--size40);
	margin: var(--size40) auto 0px auto;
	cursor: pointer;
}
