@charset "UTF-8";

:root{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    --size2  : clamp(2px, 0.1042vw, 200px);
    --size8  : clamp(6px, 0.4167vw, 200px);
    --size12 : clamp(10px, 0.6250vw, 200px);
    --size14 : clamp(12px, 0.7292vw, 200px);
    --size15 : clamp(14px, 0.7813vw, 200px);
    --size16 : clamp(16px, 0.8333vw, 200px);
    --size18 : clamp(17px, 0.9375vw, 200px);
    --size20 : clamp(18px, 1.0417vw, 200px);
    --size24 : clamp(20px, 1.2500vw, 200px);
    --size30 : clamp(28px, 1.5625vw, 200px);
    --size32 : clamp(30px, 1.6667vw, 200px);
    --size40 : clamp(36px, 2.0833vw, 200px);
    --size50 : clamp(46px, 2.6042vw, 200px);
    --size52 : clamp(48px, 2.7083vw, 200px);
    --size60 : clamp(50px, 3.1250vw, 200px);
    --size65 : clamp(60px, 3.3854vw, 200px);

    --size70  : clamp(66px, 3.6458vw, 2000px);
    --size72  : clamp(68px, 3.7500vw, 200px);
    --size98  : clamp(80px, 5.1042vw, 2000px);
    --size100 : clamp(80px, 5.2083vw, 2000px);
    --size120 : clamp(100px, 6.2500vw, 2000px);
    --size160 : clamp(154px, 8.3333vw, 2000px);
    --size300 : clamp(280px, 15.6250vw, 2000px);
    --size400 : clamp(380px, 20.8333vw, 2000px);
    --size670 : clamp(650px, 34.8958vw, 2000px);
    --size700 : clamp(680px, 36.4583vw, 3000px);
    --size930 : clamp(900px, 48.4375vw, 10000px);
}

#productList {
	margin-top: var(--size50);
}

div#all_container {
	/*border: solid 1px red;*/
	height: auto;
}

div#all_container > div:first-child{
	margin-top: var(--size72);
	display: flex;
	flex-direction: column;
	gap: var(--size40);
}

div#all_container > div > a {
	margin: auto;
}

.step{
	margin-bottom: var(--size20);
}

div#productList {
	/*border: solid 1px blue;*/
	height: auto;
	display: flex;
	margin-left: var(--size160);
	margin-right: var(--size160);
}

.cart{
	font-size: var(--size32);
}

.cart_container{
	/*background-color: #eee;*/
	margin-right: 42px;
}

.payment_go_box{
    width: var(--size400);
    height: var(--size300);
}


.payment_info {
	border: 1px solid #000; 
	width: var(--size400);
	height: 216px;
}

.order_product {
	width: var(--size120);
	height: var(--size20);
	display: block;
	margin-top: var(--size20);
	margin-left: var(--size20);
	margin-bottom: var(--size20);
}

hr {
	width: 360px;
	margin-left: var(--size20);
}

span.product_amount {
	margin-left: var(--size20);
	margin-top: 10px;
}

span.product_price {
	margin-right: var(--size20);
	margin-top: 10px;
}

span.shipping {
	margin-left: var(--size20);
	margin-bottom: 10px;
}

span.shipping_price {
	margin-right: var(--size20);
	margin-bottom: 10px;
}

span.total {
	margin-left: var(--size20);
}

span.total_price {
	margin-right: var(--size20);
}

button#btn-order {
	width: var(--size400);
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border: none;
    cursor: pointer;
    margin-top: var(--size12);
}

.menuDiv {
	display: flex;
	height: 70px;
	/*border: solid 1px orange;*/
}

.all {
	width: 90px;
	height: 26px;
	margin-top: var(--size20);
	background-color: white;
	border: solid 1px #A9A9A9;
	color: black;
}

#btn_cancel {
	margin-left: 8px;
}

.a_cart {
	width: 200px;
	height: var(--size20);
	margin-right: 728px;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 20px;
}



.totalDiv {
	/*border: solid 1px pink;*/
	height: 117px;
	margin-left: 160px;
	width: 1130px;
	margin-top: 40px;
	background-color: #F5F5F5;
}

.totalA {
	margin-left: var(--size20);
	padding-top: var(--size20);
}

.totalHr {
	margin-top: 6px;
	visibility: hidden;
}

.totalA > a {
	font-weight: bold;
}

img {
	width: 64px;
	height: 64px;
}




/*-------------------*/
input[type="checkbox"] {
	width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: black; 
}    

.product {
	/*border: solid 1px red;*/
	height: 218px;
	gap: 10px;
	padding: 10px 0;
}

.upDiv {
	margin-top: var(--size20);
	display: flex;
	lign-items: center;
    gap: 10px;
}

.upDiv input[type="checkbox"] {
    margin-right: 5px;
}

.infoDiv {
	flex: 1;
    display: flex;
    flex-direction: column;
}

.infoDiv br {
    margin-bottom: 5px;
}

.downDiv {
	margin-bottom: 0px;
	width: 100%;
	margin-left: 100px;
	margin-top: 52px;
	flex-direction: column;
}

.orderA {
    margin-right: var(--size20); 
    text-decoration: none; 
    color: black; 
    cursor: pointer;
}

.priceSpan {
	font-size: 16pt;
}

.optionSpan {
	color: #6D6D6D;
	margin-bottom: 6px;
}

.line {
	width: 1140px;
	margin-left: var(--size20);
	color: black;
}

.orderA {
	margin-left: 850px;
}

/*-------------------*/

.counter-container {
	display: inline-flex; 
    border: 1px solid #A9A9A9;
    width: 94px;
    height: 26px;
    align-items: center;
    text-align: center;
}

.counter-button {
    flex: 1; 
	cursor: pointer;
	user-select: none;
	border-right: 1px solid #A9A9A9; 
    border-left: 1px solid #A9A9A9;
}

.counter-value {
    flex: 1; 
}

.counter-button:last-child {
    border-right: none;
}

/*-------------------*/


