*{
    margin: 0;
    padding: 0;
}

a{
    color: #000;
    text-decoration: none;
}

.find_check_container{
    width: 640px;
    height: auto;
    margin: auto;
    border: 0px solid red;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.find_logo{
    margin: auto;
    width: 140px;
    height: 140px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.find_title{
    font-size: 30px;
    margin: 0 auto 30px auto;
}

.input_box{
    width: 333px;
    height: auto;
    margin: auto;
    border: 0px solid blue;
}

.input_container{
    width: 100%;
    height: auto;
    border: 0px solid green;
}

.input_container{
    display: flex;
    flex-flow: column;
    gap: 10px;
}

input{
    width: 100%;
    height: 48px;
    border-radius: 3px;
    border: 1px solid #666;
    box-sizing: border-box;
    padding: 15px 0px 14px 16px;
    margin: auto;
}

input:focus{
    outline: none;
}

input::placeholder{
    color: #666;
}


.find_result_contants{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 16px;
    border: 0px solid red;
    margin-top: 20px;
}

body > div > div.input_box > div.find_result_contants > span:nth-child(4){
    color: red;
}


.find_btn{
    font-size: 12px;
    border: 0px solid red;
    margin-top: 10px;
    text-align: right;
}

.find_go{
    margin-top: 28px;
    width: 100%;
    height: 48px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find_go2 {
   margin-top: 28px;
    width: 100%;
    height: 48px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* 비밀번호 */
.info_box{
    text-align: center;
}

.info_box > div:first-child > span {
    color: red;
}

.info_box > div:last-child{
    font-size: 14px;
    margin: 12px 0px;
}