@charset "UTF-8";
.rating__input {
	display: none; /* 라디오버튼 hide */
}

.rating__label .star-icon {
	width: 24px;
	height: 24px;
	display: block;
	background-image: url("../../images/ico-star-empty.svg");
	background-repeat: no-repeat;
}

.rating__label {
	width: 12px; /* 원본 사이즈/2 */
	overflow: hidden;
	cursor: pointer;
}
 .rating__label .star-icon {
	/* border:solid 1px red; */
	width: 12px; /* 원본 사이즈/2 */
	height: 24px;
	display: block;
	position: relative;
	margin: 0;
	left: 0;
	background-image: url("../../images/ico-star.svg");
	background-repeat: no-repeat;
}

.rating__label--full .star-icon {
	background-position: right;
}
.rating__label--half .star-icon {
	background-position: left;
}