@charset "UTF-8";

#deliveryDeletFrm{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* justify-content: space-between; */
}

.delivery-content-box{
	border : solid 1px black;
	width: 100%;
	min-height: calc(15.6250vw + 1.0417vw);
	box-sizing: border-box;
	font-size: clamp(16px, 0.8333vw, 200px);
}

hr.divider {
    margin: clamp(18px, 1.0417vw, 200px) 0;
    border: none;
    border-top: 2px solid black;
}


.delivery-info {
	padding:3%;
}

.delivery-info>li{
	margin-bottom: clamp(10px, 0.6250vw, 200px);
	font-size: clamp(16px, 0.8333vw, 200px);
}

.delivery-info>li span {
	color:#949494;
	/* border : solid 1px aqua */;
	display: inline-block;
	width: clamp(160px, 8.3333vw, 2000px);
	}
	
.deletebutton{
	text-align: center;
}
	
.delivery_info_delete{
	display:inline-block;
	border : #ffff;
	background-color: #ffff;
	color: black;
	font-size: clamp(12px, 0.7292vw, 200px);
	margin-bottom: clamp(10px, 0.6250vw, 200px);
}

.delivery_info_delete:hover{
	cursor: pointer;
}

#clickOk{
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width:100%;
	height:100vh;
	background-color: black;
	opacity: 0.2;
}

#frm{
	width:700px;
	height: auto;
	background-color: white; 
	margin: 0 auto;
    padding: 20px;;
}

#deliveryFrm{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 199;	

}

#userinfo{
	width: 350px;
	height: 48px;
}


span#mandatoryNote {
    float: right;
    font-size: 0.9rem;
    margin-top: -30px; 
    color: #666; 
}




.toggleColse:hover{
	cursor: pointer;
}

#infotitle{ 
	
	display: inline-block;
	width: 140px;
	height: 48px;
	line-height: 48px;
	font-size : 10pt;
}


.formDiv {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: relative;
}


.asterisk{
	color:red;
}

.d_deliveryInfo{
	height: 48px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 0; 
}

#postcode{
	width: 160px;
}

#postCodeButton, #insertBtn.btn_reset, #insertBtn.btn_success {
	height: 48px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
}

#btn_reset{
	margin-left: 10px;
}


#postCodeButton:hover, #insertBtn.btn_success:hover, #insertBtn.btn_reset:hover{
	cursor: pointer; 
 	background-color: #333
}


input#extra, input#detailaddress{
	width: 166.5px;
}


#address{
	width:333px;
}

.error{
	color : red;
}

#deliveryDeletFrm{
	display:grid; 
	grid-template-columns: 1fr 1fr; 
	gap: calc(1.5vw);
}



@media (max-width: 768px) {

    #deliveryDeletFrm{
        grid-template-columns: 1fr;
    }

}
