:root{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
}


ul{
    list-style: none;
}

a{
    color: #000;
    font-size: clamp(12px, 0.8333vw, 200px);
    text-decoration: none;
}

.section1{
    width: 100%;
    height: auto;
    border: 0px solid red;
    
    padding-top: 72px;
}

.mypage_container{
    width: calc(100% - 160px);
    min-width: 600px;
    height: auto;
    border: 0px solid green;
    margin: 5.2083vw auto ;
    display: flex;
    justify-content: space-between;
}

.mypage_sadebar{
    width: 16%;
    height: auto;
    border: 0px solid black;
}

.mapage_hello{
    font-size: clamp(20px, 1.6667vw, 200px);
    font-weight: 500;
    margin-bottom: 2.0833vw;
}

.mypage_container > .mypage_sadebar > ul > li{
    margin-bottom: 20px;
}

.mypage_container > .mypage_sadebar > ul > li > div{
    font-size: clamp(20px, 1.6667vw, 200px);
    margin-bottom: clamp(12px, 0.8333vw, 200px);
}

#container > section > div > div.mypage_sadebar > ul > li > ul > li > a{
    font-size: clamp(12px, 0.8333vw, 200px);
}

.mypage_container > .mypage_sadebar > ul > li > ul > li{
    font-size: 16px;
    margin-bottom: 0.6250vw;
    color: #000;
    transition: all 0.5s;
}

.mypage_container > .mypage_sadebar > ul > li > ul > li:hover{
    transform: translateX(6px);
}

.mypage_container > .mypage_sadebar > ul > li > ul > li:last-child{
    margin-bottom: none;
}

.mypage_contants{
    width: 80%;
    height: auto;
    border: 0px solid green;

}

.mypage_contants_top{
    width: 100%;
    height: auto;
}



.mypage-title > div > a{
    font-size: clamp(12px, 0.8333vw, 200px);
    margin-top: 0.7292vw;
    color: #8A8A8A;
    display: inline-block;
}


.mypage_contants_bottom{
    margin-top: 3.1250vw;
    width: 100%;
    height: auto;
    border: 0px solid red;
}

.recent-orders-title{
    font-size: clamp(20px, 1.5625vw, 200px);
    font-weight: 400;
    margin-bottom: 0.5208vw;
}

.recent-orders-box{
    border: 1px solid green;
    width: 100%;
    height: clamp(200px, 13.0208vw, 1000px);
    background-image: url(../images/free-icon-pages-167905.png);
    background-size: clamp(90px, 5.2083vw, 1000px) clamp(90px, 5.2083vw, 1000px);
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(73%) sepia(49%) saturate(0%) hue-rotate(153deg) brightness(101%) contrast(111%);
}



.mypage_contants_top{
    display: flex;
    justify-content: space-between;
}

div.mypage_contants_top > div > span:nth-child(1){
    font-size: clamp(30px, 2.6042vw, 200px);
    margin-right: 2px;
}

div.mypage_contants_top > div > span:nth-child(2){
    font-size: clamp(26px, 2.0833vw, 200px);
    color: #ABABAB;
}
div.mypage_contants > div.mypage_contants_top > div > div{
    margin-top: 0.7292vw;
    color: #8A8A8A;
}


.top_contants{
    width: 40%;
}

.top_contants > ul{
    display: flex;
    align-items: center;
    width: 100%;
}

.top_contants > ul > li{
    text-align: center;
    width: 33.33%;
    position: relative;
}

.top_contants > ul > li:first-child::after{
    content: "";
    display: none;
}

.top_contants > ul > li::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 60%;
    background-color: #A1A1A1;
}

.top_contants > ul > li:first-child > div:first-child,
.top_contants > ul > li:last-child > div:first-child{
    font-size: clamp(12px, 1.0417vw, 200px);
}

.top_contants > ul > li:nth-child(2) > div:first-child{
    font-size: clamp(12px, 1.0417vw, 200px);
}


.top_contants > ul > li > div:last-child > span:first-child{
    font-size: clamp(20px, 1.5625vw, 200px);
}

.top_contants > ul > li > div:last-child > span:last-child{
    font-size: clamp(12px, 0.8333vw, 200px);
    margin-left: 2px;
}


.recent-orders-box > div{
    position: absolute;
    font-size: clamp(12px, 0.8333vw, 200px);
    bottom: 16%;
    left: 50%;
    transform: translate(-50%, 0);
}

.recent-orders-box:first-child{
    margin-bottom: 80px;
}


@media (max-width: 768px) {

    .mypage_contants{
        width: 100%;
    }

}


@media (max-width: 575px) {
    .mypage_contants{
        width: 100%;
    }
    
}